body {
    background-color: #93FF33;
    margin-left: 20px;
    margin-right: 200px;
}
header {
    margin-top: 60px;
}

h1 {
    color: bisque;
}

h2 {
    font-family: fantasy;
}

footer {
    margin-bottom: 50px;
}

#fra1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img_default {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 20px;
}

#fra2 {
    font-style: italic;
}